.action-items {
  display: flex;
  align-items: center;
}

#opening-line-parent {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#opening-line {
  width: 50%;
  color: white;
  z-index: 10; /* Ensures the heading is on top of the canvas */
  text-align: left;
  display: flex;
  flex-direction: column;
  /* row-gap: 15px; */
}
.gradient-text {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 255, 1) 0%,
    rgba(165, 0, 247, 1) 100%
  );

  background-clip: text;
  color: transparent;
  font-weight: bold;
}

#demo-canvas {
  background: #161616;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  #opening-line {
    gap: 1em;
  }
  #opening-line-parent {
    padding: 10em 6em 6em;
    font-size: 0.75em;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #opening-line {
    width: 100%;
    padding: 7em 3em 0em;
    gap: 0.75em;
  }
  #opening-line-parent {
    padding: 3em 2em 5em;
    font-size: 0.75em;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  #opening-line {
    width: 100%;
    padding: 10px;
  }
  #opening-line-parent {
    padding: 7em 3em;
    font-size: 0.5em;
  }
}

@media (min-width: 1440px) and (max-width: 2559px) {
  #demo-canvas {
    background: #161616;
    width: 100vw;
    position: absolute;
  }
  #opening-line {
    gap: 1em;
    font-size: 1.5em;
  }
  #opening-line-parent {
    padding: 15em 8em 5em;
  }
}
@media (min-width: 2560px) {
  #demo-canvas {
    background: #161616;
    width: 100vw;
    position: absolute;
  }
  #opening-line {
    gap: 1em;
  }
  #opening-line-parent {
    padding: 15em 6em 6em;
    font-size: 2em;
  }
}
